{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="login-page">

<div class="login-container">

    <div class="login-card">
        <h2>🔐 Welcome Back</h2>
        <p class="subtitle">Login to continue</p>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit">Login</button>
        </form>

        <p class="signup-text">
            New user? <a href="/signup/">Create Account</a>
        </p>
    </div>

</div>

</body>
</html>